<ng-container>
  <div class="container">
    <div class="hero-detail">
      <div class="hero-detail__top">
        <h2>{{ hero.id }}. {{ hero.name }}</h2>
        <div *ngIf="isHeroPinned$.value" (click)="pinHero()" class="hero-detail__icon pi pi-heart-fill" #iconHeartFill>
        </div>
        <div *ngIf="!isHeroPinned$.value" (click)="pinHero()" class="hero-detail__icon pi pi-heart"></div>
      </div>
      <div class="hero-detail__left">
        <img [src]="hero.img" alt="hero.name">
      </div>
      <div class="hero-detail__right">
        <ul>
          <li>
            <h4>
              <span>Status:</span>{{ hero.status }}
            </h4>
          </li>
          <li>
            <h4>
              <span>Species:</span>{{ hero.species }}
            </h4>
          </li>
          <li>
            <h4>
              <span>Type:</span>{{ hero.type }}
            </h4>
          </li>
          <li>
            <h4>
              <span>Gender:</span>{{ hero.gender }}
            </h4>
          </li>
        </ul>
      </div>
    </div>
    <button type="button" (click)="goBack()">Go back</button>
    <button type="button" (click)="pinHero()">{{ isHeroPinned$.value ? 'Unpin' : 'Pin' }}</button>
    <button type="button" (click)="openModalEditHero()">Edit</button>
  </div>
</ng-container>