.hero-detail {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 30px 30px 30px;
  background-color: aliceblue;
  border-radius: 5px;

  &__top {
    width: 100%;
    position: relative;
  }

  &__left,
  &__right {
    width: 50%;

    img {
      max-width: 300px;
    }
  }
  &__icon {
    position: absolute;
    right: 0;
    font-size: 4rem;
    top: 19px;
    color: #ff7878;

    &.pi-heart {
      opacity: 0.4;

      &:hover {
        opacity: 1;
      }
    }

    &.pi-heart-fill {
      &.is-animating {
        animation: bounce 0.7s both;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}

@keyframes bounce {
  40% {
    opacity: 0.5;
    transform: scale(1.5);
    color: #07c1c5;
    color: #71f266;
  }
  70% {
    opacity: 1;
    transform: scale(1);
    color: #07c1c5;
    color: #71f266;
  }

  0%,
  100% {
    color: #ff7878;
  }
}
