<div class="container">
  <h2>Your favorite heroes</h2>
  <button (click)="unpinAllHeroes()">Unpin everyone</button>
  <div class="pinned-heroes">
    <ng-container *ngIf="pinnedHeroes$ | async as heroes">
      <div *ngFor="let hero of heroes" class="pinned-heroes__card">
        <button routerLink="/heroes/detail/{{hero.id}}">
          <app-heroes-item [hero]="hero" (emitOpenModalEditHero)="openModalEditHero($event)"></app-heroes-item>
        </button>
      </div>
    </ng-container>
  </div>
</div>