.nav {
  margin-bottom: 50px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo-img {
  max-width: 150px;
  margin: 20px 0;

  &:hover {
    cursor: pointer;
  }
}
