.nav {
  margin-bottom: 50px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 575.98px) {
      flex-direction: column-reverse;
      padding-bottom: 0;
    }
  }

  &__items {
    @media(max-width: 575.98px) {
      button {
        margin: 20px 5px 0 5px;
      }
    }
  }

  &__logo {
    font-size: 3.1rem;
    font-weight: 600;
    color: black;
    padding-top: 20px;

    span {
      display: block;
      font-size: 18px;
      padding-top: 16px;
      text-align: center;
    }
  }
}
.logo-img {
  max-width: 150px;
  margin: 20px 0;

  &:hover {
    cursor: pointer;
  }
}
