.nav {
  margin-bottom: 50px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 3rem;
    font-weight: 600;
    color: #71f266;
    text-shadow: 1px 1px 10px #0337d2, -1px -1px 10px #0337d2;
  }
}
.logo-img {
  max-width: 150px;
  margin: 20px 0;

  &:hover {
    cursor: pointer;
  }
}
