.heroes {
  display: flex;
  flex-wrap: wrap;
  width: 101%;
  justify-content: center;
  transform: translateX(-50%);
  position: relative;
  left: 50%;

  @media(max-width: 1199.98px) {
    width: 102%;
  }

  @media(max-width: 767.98px) {
    width: 103%;
  }


  &__card {
    width: 25%;
    padding: 10px;

    @media(max-width: 1199.98px) {
      width: 33.3333%;
    }

    @media(max-width: 991.98px) {
      width: 50%;
    }

    @media(max-width: 575.98px) {
      width: 100%;
    }

    > button {
      width: 100%;
    }
  }
}

label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: 0.5rem;
}
button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.loading-spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.img-spinner {
  max-width: 200px;
  animation: bounceLight 1.5s infinite linear;
}

@keyframes bounceLight {
  40% {
    transform: scale(1.5);
  }
  70% {
    transform: scale(0.8);
  }

  0%,
  100% {
    transform: scale(1.5);
  }
}
