<ng-container *ngIf="(vm$ | async) as vm">
  <div class="container">
    <app-filters (emitSearchName)="searchForHeroesName($event)"></app-filters>
    <app-pagination *ngIf="!vm.getRecordsPending" [pagination]="vm.pagination"
      (emitPageIndex)="changeCurrentPage($event)"></app-pagination>
    <ng-container *ngIf="vm.getRecordsPending">
      <div class="loading-spinner-wrapper">
        <img class="img-spinner" src="../../assets/img/vortex.gif" alt="vortex">
      </div>
    </ng-container>
    <ng-container *ngIf="!vm.heroes.length && !vm.getRecordsPending">
      <div class="loading">
        <h2>No results</h2>
      </div>
    </ng-container>
    <ul class="heroes" *ngIf="vm.heroes.length">
      <li *ngFor="let hero of vm.heroes" class="heroes__card">
        <button routerLink="/heroes/detail/{{hero.id}}">
          <app-heroes-item [hero]="hero" (emitOpenModalEditHero)="openModalEditHero($event)"
            (emitHeroDetail)="getHeroDetail($event)">
          </app-heroes-item>
        </button>
      </li>
    </ul>

    <app-pagination *ngIf="!vm.getRecordsPending" [pagination]="vm.pagination"
      (emitPageIndex)="changeCurrentPage($event)"></app-pagination>
  </div>
</ng-container>